body {
  font-family: Arial, sans-serif;
  background-color: #00819d;
  color: #ffffff;
  margin: 0 auto;
  padding: 20px;
}

.home-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.home-link {
  font-size: 30px;
  color: #ffffff;
  background-color: #005f7a;
  border: 2px solid #ffffff;
  padding: 15px;
  margin: 1px auto;
  border-radius: 10px;
  list-style-type: none;
}

.all-articles-header {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #005f7a;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.all-articles-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}

.single-article-card {
  background-color: #00819d;
  border: 2px solid #ffffff;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  list-style-type: none;
  color: #ffffff;
}
.link {
  color: #000000;
}

.single-article-body {
  background-color: #00819d;
  border: 2px solid #ffffff;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  list-style-type: none;
  width: 80%;
  color: #ffffff;
}

.single-article {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #005f7a;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.comments-card {
  background-color: #00819d;
  border: 2px solid #ffffff;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  list-style-type: none;
  width: 60%;
  color: #ffffff;
}

.voting-button {
  background-color: #00819d;
  border: 2px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
}

.voting-button:hover,
.voting-button:focus {
  background-color: #ffffff;
}

.comment-textarea {
  background-color: #00819d;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  list-style-type: none;
  width: 50%;
}

.comment-submit-button {
  display: block;
  width: 50%;
  margin: 10px auto;
  font-size: 16px;
  font-weight: bold;
  background-color: #003f9d;
  border: 2px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
}

.comment-submit-button:hover,
.comment-submit-button:focus {
  background-color: #004c5f;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.delete-comment-button {
  display: block;
  width: 50%;
  margin: 10px auto;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #c90606;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.delete-comment-button:hover,
.delete-comment-button:focus {
  background-color: #b71c1c;
}

.all-topics-header {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #005f7a;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.single-topic-card {
  background-color: #00819d;
  border: 2px solid #ffffff;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  list-style-type: none;
  color: #ffffff;
}

.single-topic {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #005f7a;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .all-articles-info {
    grid-template-columns: 1fr;
  }

  .voting-button,
  .comment-submit-button,
  .delete-comment-button {
    width: 80%;
    font-size: 14px;
    padding: 12px 20px;
  }

  .comment-textarea {
    width: 80%;
  }

  .image {
    width: 80%;
  }
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  list-style-type: none;
  padding: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #005f7a;
  color: #ffffff;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
  background-color: #00819d;
  border: 2px solid #ffffff;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffffff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffffff);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
